html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#wrapper,
#page-content-wrapper,
#map {
    height: 100%;
}
          
      
      input {
        font-size: 12px;
      }
      h1 {
        color: #525454;
        font-size: 22px;
        margin:  10px;
        text-align: center;
      }
      #hide-listings,
      #show-listings {
        width: 48%;
      }
      #map {
        bottom:0px;
        height: 100%;
        left: 220px;
        position: absolute;
        right: 0px;
          z-index: auto;
      }


 
.topnav {
  overflow: hidden;
}

